<div class="resources-hero">
  <div class="resources-overlay">
    <h1>Our <span class="highlight">Resources</span></h1>
    <p>Explore a rich collection of tools, programs, and insights tailored to fuel your tech journey.</p>
  </div>
</div>
<div class="courses-section">
  <h2>Our Popular <span class="highlight">Courses</span></h2>
  <div class="courses-grid">

    <div class="course-card" style="background-image: url('assets/images/python.jpg');">
      <div class="course-content">
        <h3>Python</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/Python-brochure.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>
    <div class="course-card" style="background-image: url('assets/images/developement.jpg');">
      <div class="course-content">
        <h3>Full Stack Web Development</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/FullStack.pptx" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/java.png');">
      <div class="course-content">
        <h3>Java Full Stack</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/Java.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/TaeJune15.jpg');">
      <div class="course-content">
        <h3>AI & ML</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/machine-learning.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/dsa.png');">
      <div class="course-content">
        <h3>DSA + Aptitude</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/Dsa.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/powerbi.png');">
      <div class="course-content">
        <h3>Power BI</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/powerbi.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/datascience.png');">
      <div class="course-content">
        <h3>Data Science</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/Ds.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

    <div class="course-card" style="background-image: url('assets/images/mern.png');">
      <div class="course-content">
        <h3>MERN Stack</h3>
        <button routerLink="/contact-us">Access Course</button>
        <a href="assets/brochure/mern.pdf" target="_blank" class="brochure-btn">View Brochure</a>
      </div>
    </div>

  </div>
</div>

