<nav class="navbar">
  <div class="logo">
    <img src="/assets/images/logo.jpg" alt="TechM4India Logo" />    
  </div>
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">GO HOME</a></li>
    <li class="nav-item"><a routerLink="/industries" routerLinkActive="active">INDUSTRIES</a></li>
    <li class="nav-item"><a routerLink="/services" routerLinkActive="active">SERVICES</a></li>
    <li class="nav-item"><a routerLink="/placements" routerLinkActive="active">PLACEMENTS</a></li>
    <li class="nav-item"><a routerLink="/resources" routerLinkActive="active">RESOURCES</a></li>
    <li class="nav-item"><a routerLink="/careers" routerLinkActive="active">CAREERS</a></li>
    <li class="nav-item"><a routerLink="/contact-us" routerLinkActive="active">CONTACT-US</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>